.btn
  background-color #ccc
  box-sizing border-box
  color #fff
  display inline
  height 36px
  line-height 20px
  padding 8px 12px
  user-select none

  &:hover
    background-color #bbb

  &.active
    background-color #aaa

.btn-cancel
  background-color #f4aa41

  &:hover
    background-color #e59f3c

.btn-primary
  background-color #02a3d3

  &:hover
    background-color #0192be

.btn-disabled
  background-color #ddd

  &:hover
    background-color #ccc
