html, body, div, header, footer, article, section, button, input, select, textarea, p, label, a
  font-family 'Avenir', sans-serif
  font-size 15px
  font-weight 300

h1, h2, h3, h4, h5, h6
  font-weight 300
  margin-top 0

ul, li
  list-style none
  margin 0
  padding 0

p
  margin 0 0 15px

.hidden
  display none

html, body, #app-container, #page-container
  min-height 100%

a
  color #aaa
  text-decoration none

h1 a, h2 a, h3 a
  color black

body
  background-color #f5f6f7
  color black
  padding-bottom 40px

.left
  float left

.right
  float right

h1, h1 a
  border 0
  box-sizing border-box
  display block
  height 48px
  font-weight 300
  font-size 32px
  line-height 48px
  outline none
  resize none
  width 100%
