#app-container
  margin-top 50px

.container
  margin 0 20px
  position relative
  width auto

.layout
  -webkit-transition all 0.5s ease-in-out
  -moz-transition all 0.5s ease-in-out
  -o-transition all 0.5s ease-in-out
  transition all 0.5s ease-in-out

.layout-main
  box-sizing border-box
  display block
  min-height 300px
  padding-right 400px
  position relative
  width 100%

.layout-sidebar
  box-sizing border-box
  min-height 300px
  position absolute
  right 0
  top 0
  width 380px
